.main-layout {
    align-items: center;
    background-color: color('dark-grey');
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    
    &_body {
        background-image: url('../../assets/background.jpg');
        box-shadow: 10px 10px 20px #000000;
        display: flex;
        height: 90vh;
        width: 90vw;
    }
}



