.theme-switch {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 5px;

  &:active {
    background-color: color("primary");
    cursor: pointer;
    &.blue {
      background-color: color("blue");
    }
    &.light {
      background-color: color("dark-blue");}

  }

  &:hover {
    @include if-desktop {
      background-color: color("primary");
      cursor: pointer;
      transition-duration: 400ms;
      &.blue {
        background-color: color("blue");
      }
      &.light {
        background-color: color("dark-blue");
      }
    }
  }

  &_icon {
    width: 30px;
    height: 50px;
    border-radius: 20px;
  }
}
