.footer {
    background-color: color('dark-grey');
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 18px 20px;
  
    &.light {
        background-color: rgba(180, 180, 180, 0.8);
    }

    @include if-tablet {
        display: none;
    }
}
