.navigation-bar {
  color: color("light");
  display: flex;
  justify-content: end;
  font-family: "Roboto", sans-serif;

  &_box {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50px; //75
    border-radius: 5px;

    &.is-active {
      transition-duration: 400ms;
      background-color: color("primary");
      &.blue {
        background-color: color("blue");
      }
      &.light {
        background-color: color("dark-blue");
      }
    }

    &:hover {
      transition-duration: 400ms;
      background-color: color("primary");
      cursor: pointer;
      &.blue {
        background-color: color("blue");
      }
      &.light {
        background-color: color("dark-blue");
      }
    }
  }

  &_icon {
    width: 30px; //30
    height: 50px; //50
  }
}
