.image-modal {
  align-items: center;
  background-color: rgba(20, 20, 20, 0.8);
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  margin-right: auto;
  padding-bottom: 5vh;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 100;
  opacity: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: all;

  &.is-modal-open {
    opacity: 100%;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    display: flex;
  }

  &__main {
    display: block;
    height: 75vh;
    overflow-y: auto;
    width: 75vw;
    @include if-desktop {
      display: flex;
      flex-direction: row;
      height: 75vh;
      width: 65vw;
    }
  }
}
