.data {
  align-items: center;
  display: grid;
  font-family: font-family("body");
  grid-template-columns: 1fr 1fr;
  padding-bottom: 30px;

  @include if-tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &_value {
    color: color("light");
    font-size: 0.8rem;
    margin-left: 8px;
    width: 20%;
    &.light {
      color: color("dark-blue");
    }
    @include if-tablet {
      font-size: 0.9rem;
      margin-left: 10px;
    }
  }

  &_icon {
    margin-top: 10px;
    width: 25px;

    @include if-tablet {
      width: 30px;
    }
  }

  &__block {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}
